.login {
    background: url("../image/tain.png") no-repeat;
    background-size: cover;
    height: 640px;
    /* margin-top: -12px; */
    opacity: 0.7;
}

.log_box {
    position: relative;
    text-align: center;
    width: 390px;
    height: 350px;
    /* margin: auto; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
}

.log_dx {
    position: absolute;
    left: 27px;
    top: 20px;
    color: #f20d0d;
    font-size: 16px;
    font-weight: bold;
}

#rl-close {
    position: absolute;
    left: 93%;
    top: 6%;
    font-size: 20px;
}

.log_rectangle {
    position: relative;
    top: 30px;
}

.log_rec {
    position: relative;
    width: 300px;
    height: 50px;
    top: 37px;
    /* margin-top: -41px; */
    padding: -34px;
    border-radius: 10px;
}

.log_op {
    font-size: 9px;
    height: 5px;
    color: red;
    padding-left: 6px;
    margin-top: 6px;
}

.log_foo {
    position: absolute;
    top: 60%;
    left: 15%;
}

.log_foot1 {
    position: absolute;
    width: 70%;
    height: 10%;
    top: 68%;
    left: 15%;
    font-size: 16px;
    color: #fff;
    background: red;
    border-radius: 24px;
    border: 1px solid red;
}


/* .log_footer {
        position: relative;
        top: 139px;
    }
    
    .log_footer_0 {
        position: relative; */


/* margin-left: -85px; */


/* display: inline-block;
        font-size: 14px;
        color: #f20d0d;
        text-align: left;
        line-height: 24px;
        border-right: 1px solid #1a1C1F21;
        cursor: pointer;
    }
    
    .log_footer_1 a i {
        position: relative;
        left: 6%;
        font-size: 29px;
        margin-right: 21px;
        height: 20px;
        line-height: 20px;
        color: #c8cdd2;
        color: #b5b9bc;
        text-decoration: none;
        /* transition: color .2s; */


/* }  */

.log_footer {
    position: absolute;
    top: 84%;
    left: 3%;
    padding: 20px 30px 4px;
}

.log_pop {
    text-align: right;
    font-size: 14px;
}

.log_pop .rlf-other {
    margin-left: 30px;
    margin-right: 24px;
    padding-right: 24px;
    display: inline-block;
    font-size: 14px;
    color: #f20d0d;
    text-align: left;
    line-height: 24px;
    border-right: 1px solid #1a1C1F21;
    cursor: pointer;
}

.log_pop a {
    font-size: 14px;
    margin-right: 21px;
    height: 20px;
    line-height: 20px;
    color: #c8cdd2;
    text-decoration: none;
}

.log_pop i {
    font-size: 24px;
    vertical-align: -3px;
    color: #b5b9bc;
}